---
---
@import 'bourbon';

$header-height : 60px;
$map-width     : 800px;
$grid-square   : 20px;

$color-dark    : #4e4e3e;

$buildings     : (
  {% for building in site.data.buildings %}
    {{ building[0] }},
  {% endfor %}
);

@import
  "typography",
  "layout",
  "header",
  "buildings",
  "sidebar",
  "map";
