@import url(http://fonts.googleapis.com/css?family=Slackey);
body {
  font-family: 'Slackey', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: white; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  overflow-x: hidden; }

body {
  background: #f2f2f2; }

header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background-color: rgba(78, 78, 62, 0.9);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 50%, transparent 50%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 50%, transparent 50%);
  box-shadow: 0 1px 1px 0 black; }
  header button {
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 0 10px;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    line-height: 30px;
    color: inherit;
    text-shadow: 0 2px 0 black;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 50%, transparent 50%), -webkit-linear-gradient(top, #bfe460, #68b410);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50%, transparent 50%), linear-gradient(to bottom, #bfe460, #68b410);
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 3px 0 -1px white inset, 0 -1px 0 1px #48840c inset, 0 1px 0 rgba(0, 0, 0, 0.4); }
    header button:hover {
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 50%, transparent 50%), -webkit-linear-gradient(top, #c8e876, #76cb12);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50%, transparent 50%), linear-gradient(to bottom, #c8e876, #76cb12); }
    header button:active {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9); }
    header button::-moz-focus-inner {
      border: 0; }

h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -1px;
  text-shadow: 1px 2px 0 black; }

.building {
  overflow: hidden;
  position: relative;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .building.is-dragging {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    z-index: 2; }
  .building[data-size="1"] {
    width: 20px;
    height: 20px; }
  .building[data-size="2"] {
    width: 40px;
    height: 40px; }
  .building[data-size="3"] {
    width: 60px;
    height: 60px; }
  .building[data-size="4"] {
    width: 80px;
    height: 80px; }
  .building[data-size="5"] {
    width: 100px;
    height: 100px; }
  .building:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s; }
  .building.town_hall:before {
    background-image: url("../images/town_hall.png"); }
  .building.builder_hut:before {
    background-image: url("../images/builder_hut.png"); }
  .building.gold_mine:before {
    background-image: url("../images/gold_mine.png"); }
  .building.elixir_extractor:before {
    background-image: url("../images/elixir_extractor.png"); }
  .building.dark_elixir_extractor:before {
    background-image: url("../images/dark_elixir_extractor.png"); }
  .building.gold_storage:before {
    background-image: url("../images/gold_storage.png"); }
  .building.elixir_storage:before {
    background-image: url("../images/elixir_storage.png"); }
  .building.dark_elixir_storage:before {
    background-image: url("../images/dark_elixir_storage.png"); }
  .building.army_camp:before {
    background-image: url("../images/army_camp.png"); }
  .building.barracks:before {
    background-image: url("../images/barracks.png"); }
  .building.dark_barracks:before {
    background-image: url("../images/dark_barracks.png"); }
  .building.spell_factory:before {
    background-image: url("../images/spell_factory.png"); }
  .building.laboratory:before {
    background-image: url("../images/laboratory.png"); }
  .building.barbarian_king:before {
    background-image: url("../images/barbarian_king.png"); }
  .building.wall:before {
    background-image: url("../images/wall.png"); }
  .building.cannon:before {
    background-image: url("../images/cannon.png"); }
  .building.archer_tower:before {
    background-image: url("../images/archer_tower.png"); }
  .building.mortar:before {
    background-image: url("../images/mortar.png"); }
  .building.air_defense:before {
    background-image: url("../images/air_defense.png"); }
  .building.wizard_tower:before {
    background-image: url("../images/wizard_tower.png"); }
  .building.bomb:before {
    background-image: url("../images/bomb.png"); }
  .building.spring_trap:before {
    background-image: url("../images/spring_trap.png"); }
  .building.air_bomb:before {
    background-image: url("../images/air_bomb.png"); }
  .building.giant_bomb:before {
    background-image: url("../images/giant_bomb.png"); }
  .building.seeking_air_bomb:before {
    background-image: url("../images/seeking_air_bomb.png"); }
  .building.hidden_tesla:before {
    background-image: url("../images/hidden_tesla.png"); }
  .building.skeleton_trap:before {
    background-image: url("../images/skeleton_trap.png"); }

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 5px;
  overflow-x: auto; }
  .sidebar ul {
    display: inline-block;
    height: 70px;
    min-width: 100%;
    padding: 5px;
    list-style: none;
    white-space: nowrap;
    background: rgba(78, 78, 62, 0.6);
    border-top: 1px solid #4e4e3e; }
  .sidebar .building {
    display: inline-block;
    top: 0;
    width: 60px;
    height: 60px;
    vertical-align: top;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 50%, transparent 50%), -webkit-linear-gradient(top, #86d3e0, #287ca2 80%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50%, transparent 50%), linear-gradient(to bottom, #86d3e0, #287ca2 80%);
    box-shadow: 0 2px 2px 0 white inset, 0 -2px 2px -1px #143d50 inset;
    border: 1px solid black;
    border-radius: 8px;
    -webkit-transition: top 0.1s;
    -moz-transition: top 0.1s;
    transition: top 0.1s; }
    .sidebar .building[data-count='0'], .sidebar .building[data-count='1']:after {
      display: none; }
    .sidebar .building:hover {
      top: -8px; }
    .sidebar .building:after {
      content: "x" attr(data-count);
      position: absolute;
      right: 5px;
      bottom: 5px;
      padding: 2px 4px;
      font-size: 10px;
      background-color: black;
      border-radius: 4px; }

.map {
  min-height: 100%;
  padding: 100px 40px 120px 40px;
  background-image: url("../images/grass.png");
  background-attachment: fixed;
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  perspective: 3000px; }

.grid {
  position: relative;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  background-color: rgba(147, 169, 68, 0.3);
  background-size: 40px 40px, 40px 40px, auto;
  background-position: 0 0, 20px 20px;
  background-image: -webkit-linear-gradient(45deg, rgba(191, 210, 85, 0.2) 25%, transparent 25%, transparent 75%, rgba(191, 210, 85, 0.2) 75%, rgba(191, 210, 85, 0.2)), -webkit-linear-gradient(45deg, rgba(191, 210, 85, 0.2) 25%, transparent 25%, transparent 75%, rgba(191, 210, 85, 0.2) 75%, rgba(191, 210, 85, 0.2));
  background-image: linear-gradient(45deg, rgba(191, 210, 85, 0.2) 25%, transparent 25%, transparent 75%, rgba(191, 210, 85, 0.2) 75%, rgba(191, 210, 85, 0.2)), linear-gradient(45deg, rgba(191, 210, 85, 0.2) 25%, transparent 25%, transparent 75%, rgba(191, 210, 85, 0.2) 75%, rgba(191, 210, 85, 0.2));
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  .view-mode .grid {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateY(-100px) rotateX(50deg) rotateZ(-45deg);
    -moz-transform: translateY(-100px) rotateX(50deg) rotateZ(-45deg);
    -ms-transform: translateY(-100px) rotateX(50deg) rotateZ(-45deg);
    -o-transform: translateY(-100px) rotateX(50deg) rotateZ(-45deg);
    transform: translateY(-100px) rotateX(50deg) rotateZ(-45deg);
    box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.5); }
  .grid .building {
    position: absolute; }
    .grid .building:before {
      z-index: 2; }
    .grid .building:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      background: url("../images/grass_building.png"); }
    .grid .building.army_camp:before {
      background-size: 60%;
      background-position: 42% 46%; }
    .grid .building.wall:before {
      background-size: 80%;
      background-position: center top; }
    .view-mode .grid .building:before {
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg); }
    .grid .building.ok {
      background: rgba(0, 128, 0, 0.6);
      box-shadow: none; }
      .grid .building.ok:after {
        display: none; }
    .grid .building.notok {
      background: rgba(255, 0, 0, 0.6);
      box-shadow: none; }
      .grid .building.notok:after {
        display: none; }
