@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Slackey);
body {
  font-family: 'Slackey', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: white; }

button::-moz-focus-inner {
  border: 0; }

.btn {
  padding: 0 10px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  line-height: 30px;
  color: inherit;
  text-shadow: 0 2px 0 black;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 50%, transparent 50%), -webkit-linear-gradient(top, #bfe460, #68b410);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50%, transparent 50%), linear-gradient(to bottom, #bfe460, #68b410);
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 3px 0 -1px white inset, 0 -1px 0 1px #48840c inset, 0 1px 0 rgba(0, 0, 0, 0.4); }
  .btn:hover, .btn.on {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 50%, transparent 50%), -webkit-linear-gradient(top, #c8e876, #76cb12);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50%, transparent 50%), linear-gradient(to bottom, #c8e876, #76cb12); }
  .btn.toggle:after {
    content: ' OFF'; }
  .btn.toggle.on:after {
    content: ' ON'; }
  .btn.on {
    box-shadow: 0 3px 0 -1px white inset, 0 -1px 0 1px #48840c inset, 0 1px 0 rgba(0, 0, 0, 0.4), 0 0 0 2px white; }
  .btn:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  overflow-x: hidden; }

body {
  background: #f2f2f2; }

header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background-color: rgba(78, 78, 62, 0.9);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 50%, transparent 50%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 50%, transparent 50%);
  box-shadow: 0 1px 1px 0 black; }
  header button {
    position: absolute;
    right: 20px;
    top: 15px; }

h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -1px;
  text-shadow: 1px 2px 0 black; }

.building {
  position: relative;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .building[data-size="1"] {
    width: 25px;
    height: 25px; }
  .building[data-size="2"] {
    width: 50px;
    height: 50px; }
  .building[data-size="3"] {
    width: 75px;
    height: 75px; }
  .building[data-size="4"] {
    width: 100px;
    height: 100px; }
  .building[data-size="5"] {
    width: 125px;
    height: 125px; }
  .building:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s; }
  .building[data-type='town_hall']:after {
    background-image: url("../images/town_hall.png"); }
  .building[data-type='clan_castle']:after {
    background-image: url("../images/clan_castle.png"); }
  .building[data-type='builder_hut']:after {
    background-image: url("../images/builder_hut.png"); }
  .building[data-type='gold_mine']:after {
    background-image: url("../images/gold_mine.png"); }
  .building[data-type='elixir_extractor']:after {
    background-image: url("../images/elixir_extractor.png"); }
  .building[data-type='dark_elixir_extractor']:after {
    background-image: url("../images/dark_elixir_extractor.png"); }
  .building[data-type='gold_storage']:after {
    background-image: url("../images/gold_storage.png"); }
  .building[data-type='elixir_storage']:after {
    background-image: url("../images/elixir_storage.png"); }
  .building[data-type='dark_elixir_storage']:after {
    background-image: url("../images/dark_elixir_storage.png"); }
  .building[data-type='army_camp']:after {
    background-image: url("../images/army_camp.png"); }
  .building[data-type='barracks']:after {
    background-image: url("../images/barracks.png"); }
  .building[data-type='dark_barracks']:after {
    background-image: url("../images/dark_barracks.png"); }
  .building[data-type='spell_factory']:after {
    background-image: url("../images/spell_factory.png"); }
  .building[data-type='laboratory']:after {
    background-image: url("../images/laboratory.png"); }
  .building[data-type='barbarian_king']:after {
    background-image: url("../images/barbarian_king.png"); }
  .building[data-type='wall']:after {
    background-image: url("../images/wall.png"); }
  .building[data-type='cannon']:after {
    background-image: url("../images/cannon.png"); }
  .building[data-type='archer_tower']:after {
    background-image: url("../images/archer_tower.png"); }
  .building[data-type='mortar']:after {
    background-image: url("../images/mortar.png"); }
  .building[data-type='air_defense']:after {
    background-image: url("../images/air_defense.png"); }
  .building[data-type='wizard_tower']:after {
    background-image: url("../images/wizard_tower.png"); }
  .building[data-type='bomb']:after {
    background-image: url("../images/bomb.png"); }
  .building[data-type='spring_trap']:after {
    background-image: url("../images/spring_trap.png"); }
  .building[data-type='air_bomb']:after {
    background-image: url("../images/air_bomb.png"); }
  .building[data-type='giant_bomb']:after {
    background-image: url("../images/giant_bomb.png"); }
  .building[data-type='seeking_air_bomb']:after {
    background-image: url("../images/seeking_air_bomb.png"); }
  .building[data-type='hidden_tesla']:after {
    background-image: url("../images/hidden_tesla.png"); }
  .building[data-type='skeleton_trap']:after {
    background-image: url("../images/skeleton_trap.png"); }

.selector {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 5px;
  overflow-x: auto; }
  .selector ul {
    display: inline-block;
    height: 70px;
    min-width: 100%;
    padding: 5px;
    list-style: none;
    white-space: nowrap;
    vertical-align: bottom;
    background: rgba(78, 78, 62, 0.6);
    border-top: 1px solid #4e4e3e;
    font-size: 0; }
  .selector .building {
    display: inline-block;
    top: 0;
    width: 60px;
    height: 60px;
    vertical-align: top;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 50%, transparent 50%), -webkit-linear-gradient(top, #86d3e0, #287ca2 80%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50%, transparent 50%), linear-gradient(to bottom, #86d3e0, #287ca2 80%);
    box-shadow: 0 2px 2px 0 white inset, 0 -2px 2px -1px #143d50 inset;
    border: 1px solid black;
    border-radius: 8px;
    -webkit-transition: top 0.1s;
    -moz-transition: top 0.1s;
    transition: top 0.1s; }
    .selector .building + .building {
      margin-left: 5px; }
    .selector .building:hover {
      top: -8px; }
    .selector .building:before {
      content: "x" attr(data-count);
      position: absolute;
      z-index: 3;
      right: 5px;
      bottom: 5px;
      padding: 2px 4px;
      font-size: 10px;
      background-color: black;
      border-radius: 4px; }
    .selector .building[data-count='0'], .selector .building[data-count='1']:before {
      display: none; }

.tools {
  position: fixed;
  right: 30px;
  bottom: 100px; }

.map {
  min-height: 100%;
  padding: 100px 40px 160px 40px;
  background-image: url("../images/grass.png");
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  perspective: 3000px; }

.grid {
  position: relative;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  background-color: rgba(147, 169, 68, 0.3);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  background-image: -webkit-linear-gradient(45deg, rgba(191, 210, 85, 0.2) 25%, transparent 25%, transparent 75%, rgba(191, 210, 85, 0.2) 75%, rgba(191, 210, 85, 0.2)), -webkit-linear-gradient(45deg, rgba(191, 210, 85, 0.2) 25%, transparent 25%, transparent 75%, rgba(191, 210, 85, 0.2) 75%, rgba(191, 210, 85, 0.2));
  background-image: linear-gradient(45deg, rgba(191, 210, 85, 0.2) 25%, transparent 25%, transparent 75%, rgba(191, 210, 85, 0.2) 75%, rgba(191, 210, 85, 0.2)), linear-gradient(45deg, rgba(191, 210, 85, 0.2) 25%, transparent 25%, transparent 75%, rgba(191, 210, 85, 0.2) 75%, rgba(191, 210, 85, 0.2));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  .grid:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
  .grid:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top: -3px;
    background-color: rgba(255, 255, 0, 0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .isometric-mode .grid {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateY(-100px) rotateX(50deg) rotateZ(-45deg);
    -moz-transform: translateY(-100px) rotateX(50deg) rotateZ(-45deg);
    -ms-transform: translateY(-100px) rotateX(50deg) rotateZ(-45deg);
    -o-transform: translateY(-100px) rotateX(50deg) rotateZ(-45deg);
    transform: translateY(-100px) rotateX(50deg) rotateZ(-45deg);
    box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.5); }
  .grid.erase-mode .building {
    cursor: default; }
  .grid.wall-mode .building {
    cursor: default; }
  .grid .building {
    position: absolute; }
    .grid .building.is-dragging {
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
      z-index: 2 !important;
      background-size: 25px 25px;
      background-color: #00d000;
      background-image: -webkit-linear-gradient(top, #09e304 1px, transparent 1px, transparent, 24px, #09e304 24px), -webkit-linear-gradient(left, #09e304 1px, transparent 1px, transparent, 24px, #09e304 24px);
      background-image: linear-gradient(to bottom, #09e304 1px, transparent 1px, transparent, 24px, #09e304 24px), linear-gradient(to right, #09e304 1px, transparent 1px, transparent, 24px, #09e304 24px); }
      .grid .building.is-dragging:before {
        display: none; }
      .grid .building.is-dragging:after {
        opacity: .7; }
    .grid .building.notok {
      background-color: #d00000;
      background-image: -webkit-linear-gradient(top, #f00306 1px, transparent 1px, transparent, 24px, #f00306 24px), -webkit-linear-gradient(left, #f00306 1px, transparent 1px, transparent, 24px, #f00306 24px);
      background-image: linear-gradient(to bottom, #f00306 1px, transparent 1px, transparent, 24px, #f00306 24px), linear-gradient(to right, #f00306 1px, transparent 1px, transparent, 24px, #f00306 24px); }
    .grid .building:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      background: url("../images/grass_building.png"); }
    .grid .building[data-type='army_camp']:after {
      background-size: 60%;
      background-position: 42% 46%; }
    .grid .building[data-type='wall']:after {
      background-size: 80%;
      background-position: center top; }
    .isometric-mode .grid .building:after {
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg); }
    .grid .building span {
      display: none;
      position: absolute;
      pointer-events: none; }
  .grid .building[data-hidden='true'] {
    display: none; }
  .grid.show-traps .building[data-hidden='true'] {
    display: block; }
  .grid.show-perimeter .building[data-hidden='false'] span {
    display: block;
    top: -25px;
    right: -25px;
    bottom: -25px;
    left: -25px;
    background-size: 25px 25px;
    background-color: #82C13B;
    background-image: -webkit-linear-gradient(top, #a1d36c 1px, transparent 1px, transparent, 24px, #a1d36c 24px), -webkit-linear-gradient(left, #a1d36c 1px, transparent 1px, transparent, 24px, #a1d36c 24px);
    background-image: linear-gradient(to bottom, #a1d36c 1px, transparent 1px, transparent, 24px, #a1d36c 24px), linear-gradient(to right, #a1d36c 1px, transparent 1px, transparent, 24px, #a1d36c 24px); }
  .grid.show-range .building[class*='range'] span {
    display: block;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid white;
    background-image: -webkit-radial-gradient(transparent 60%, white);
    background-image: radial-gradient(transparent 60%, white);
    box-shadow: 0 0 2px white; }
  .grid.show-range .building.range-1 span {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px; }
  .grid.show-range .building.range-2 span {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px; }
  .grid.show-range .building.range-3 span {
    width: 150px;
    height: 150px;
    margin-left: -75px;
    margin-top: -75px; }
  .grid.show-range .building.range-4 span {
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px; }
  .grid.show-range .building.range-5 span {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px; }
  .grid.show-range .building.range-6 span {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px; }
  .grid.show-range .building.range-7 span {
    width: 350px;
    height: 350px;
    margin-left: -175px;
    margin-top: -175px; }
  .grid.show-range .building.range-8 span {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px; }
  .grid.show-range .building.range-9 span {
    width: 450px;
    height: 450px;
    margin-left: -225px;
    margin-top: -225px; }
  .grid.show-range .building.range-10 span {
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px; }
  .grid.show-range .building.range-11 span {
    width: 550px;
    height: 550px;
    margin-left: -275px;
    margin-top: -275px; }
  .grid.dragging .building.building {
    z-index: 1; }
    .grid.dragging .building.building span {
      display: none; }

.panel {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: -300px;
  bottom: 0;
  background: #5f5f51;
  border-right: 2px solid black;
  width: 300px;
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  transition: left 0.2s; }
  .panel .toggle-panel {
    position: absolute;
    right: -40px;
    top: 50%;
    margin-top: -90px;
    width: 40px;
    height: 60px;
    background: #5f5f51;
    border: 2px solid black;
    border-width: 2px 3px 2px 0;
    border-radius: 0 6px 6px 0;
    transform: perspective(9px) rotateY(9deg);
    transform-origin: left;
    cursor: pointer; }
    .panel .toggle-panel:after {
      content: '❱';
      position: absolute;
      z-index: 2;
      left: 1px;
      right: 6px;
      top: 3px;
      bottom: 3px;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 50%, transparent 50%), -webkit-linear-gradient(top, #e88440, #d04816 80%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50%, transparent 50%), linear-gradient(to bottom, #e88440, #d04816 80%);
      border-radius: 6px;
      box-shadow: -1px 0 2px 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.4);
      color: white;
      text-shadow: 0px 3px 0px black;
      font-size: 20px;
      line-height: 40px;
      text-indent: -1px; }
    .panel .toggle-panel:active:after {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9); }
  .panel .panel-content {
    padding: 20px; }
  .panel.open {
    left: 0; }
    .panel.open .toggle-panel:after {
      content: '❰'; }
