---
---
@import 'bourbon';

$header-height : 60px;
$panel-width   : 300px;
$grid-square   : {{site.grid_square}}px;
$map-width     : $grid-square * 40;

$color-dark    : #4e4e3e;

$buildings     : (
  {% for building in site.data.buildings %}
    {{ building[0] }},
  {% endfor %}
);

@import
  "typography",
  "buttons",
  "layout",
  "header",
  "buildings",
  "selector",
  "tools",
  "map",
  "panel";
