.building {
  overflow: hidden;
  position: relative;
  padding: 4px 2px;
  color: black;
  text-shadow: 0 0 1px white;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  text-align: center;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  @include user-select(none);

  &.is-dragging {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    z-index: 2;
  }

  @for $size from 1 through 5 {
    &[data-size="#{$size}"] {
      width: $size * 20px;
      height: $size * 20px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    @include transition(transform .4s);
  }

  @each $building in $buildings {
    &.#{$building}:before {
      background-image: url("../images/#{$building}.png");
    }
  }

  &.ok {
    background-color: tint(green, 10%);
  }

  &.notok {
    background-color: tint(red, 10%);
  }
}
