.building {
  overflow: hidden;
  position: relative;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  @include user-select(none);

  &.is-dragging {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    z-index: 2;
  }

  @for $size from 1 through 5 {
    &[data-size="#{$size}"] {
      width: $size * 20px;
      height: $size * 20px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    @include transition(transform .4s);
  }

  @each $building in $buildings {
    &.#{$building}:before {
      background-image: url("../images/#{$building}.png");
    }
  }
}
