header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background-color: rgba($color-dark, .9);
  @include background-image(linear-gradient(top, rgba(white, .05) 50%, transparent 50%));
  box-shadow: 0 1px 1px 0 black;

  button {
    position: absolute;
    right: 20px;
    top: ($header-height - 30px) / 2;
  }
}

h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: $header-height;
  letter-spacing: -1px;
  text-shadow: 1px 2px 0 black;
}
