.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: rgba($color-dark, .6);
  border-top: 1px solid $color-dark;
  @include transition(bottom .4s);

  ul {
    display: inline-block;
    list-style: none;
    white-space: nowrap;
    padding: 5px;
  }

  .building {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: top;
    @include background(
      linear-gradient(top, rgba(white, .1) 50%, transparent 50%),
      linear-gradient(top, #86d3e0, #287ca2 80%)
    );
    box-shadow: 0 2px 2px 0 white inset,
                0 -2px 2px -1px darken(#287ca2, 20%) inset;
    border: 1px solid black;
    border-radius: 8px;

    &[data-count='0'],
    &[data-count='1']:after { display: none; }

    &:after {
      content: 'x' attr(data-count);
      position: absolute;
      right: 5px;
      bottom: 5px;
      padding: 2px 4px;
      font-size: 10px;
      background-color: black;
      border-radius: 4px;
    }
  }
}
