.sidebar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 5px;
  overflow-x: auto;

  ul {
    display: inline-block;
    height: 70px;
    min-width: 100%;
    padding: 5px;
    list-style: none;
    white-space: nowrap;
    vertical-align: bottom;
    background: rgba($color-dark, .6);
    border-top: 1px solid $color-dark;
  }

  .building {
    display: inline-block;
    top: 0;
    width: 60px;
    height: 60px;
    vertical-align: top;
    @include background(
      linear-gradient(top, rgba(white, .1) 50%, transparent 50%),
      linear-gradient(top, #86d3e0, #287ca2 80%)
    );
    box-shadow: 0 2px 2px 0 white inset,
                0 -2px 2px -1px darken(#287ca2, 20%) inset;
    border: 1px solid black;
    border-radius: 8px;
    @include transition(top .1s);

    &:hover {
      top: -8px;
    }

    &:before {
      content: 'x' attr(data-count);
      position: absolute;
      z-index: 3;
      right: 5px;
      bottom: 5px;
      padding: 2px 4px;
      font-size: 10px;
      background-color: black;
      border-radius: 4px;
    }

    // Hide counter when less than 2
    &[data-count='0'],
    &[data-count='1']:before { display: none; }
  }
}
