@import url(http://fonts.googleapis.com/css?family=Slackey);

body {
  font-family: 'Slackey', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: white;
}
