.building {
  position: relative;
  padding: 5px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2) inset;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  @include user-select(none);
  overflow: hidden;

  &.is-dragging {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    z-index: 2;
  }

  @for $size from 1 through 5 {
    &[data-size="#{$size}"] {
      width: $size * 20px;
      height: $size * 20px;
    }
  }

  &.building[data-count='0'] {
    display: none;
  }

  &:after {
    content: 'x' attr(data-count);
    position: absolute;
    right: 4px;
    bottom: 4px;
    min-width: 20px;
    padding: 0 2px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-indent: 0;
  }

  @each $building in $buildings {
    &.#{$building} {
      background-image: asset-url("#{$building}.png"), asset-url("grass_building.png");
      background-size: cover, auto;
      text-indent: -999px;
    }
  }

  &.ok {
    background-color: tint(green, 10%);
  }

  &.notok {
    background-color: tint(red, 10%);
  }
}
