$header-height: 60px;
$sidebar-width: 280px;

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html,
body {
  height: 100%;
}

body {
  background: shade(white, 5%);
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background: shade(white, 20%);

  button {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

h1 {
  font-weight: 300;
  font-size: 30px;
  line-height: $header-height;
}

.viewport {
  position: relative;
  min-height: 100%;
  padding: ($header-height + 20px) 20px 20px 20px;
  margin-right: $sidebar-width;
  @include perspective(3000px);
  @include transition(margin-right .6s);

  .view-mode & {
    margin-right: 0;
  }
}

.sidebar {
  position: fixed;
  top: $header-height;
  right: 0;
  bottom: 0;
  width: $sidebar-width;
  padding: 20px;
  background: shade(white, 10%);
  @include transition(transform .6s);

  .view-mode & {
    @include transform(translateX($sidebar-width));
  }
}
