.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 10px;
  @include transition(bottom .4s);

  ul {
    list-style: none;
    white-space: nowrap;
  }

  .building {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: top;
    white-space: normal;
  }
}
