.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  height: $sidebar-height;
  padding: 10px;
  @include transition(bottom .4s);

  .view-mode & {
    bottom: - $sidebar-height;
  }

  ul {
    list-style: none;
    white-space: nowrap;
  }

  .building {
    display: inline-block;
    width: $sidebar-height - 20px;
    height: $sidebar-height - 20px;
    vertical-align: top;
    white-space: normal;
  }
}
